Repository innoneers-inc/nodejs-local-dev: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check-quality, yarn check-formatting

.lintstagedrc:

{
    "*.js": [
      "yarn check-quality"
    ],
    "*.{js,json,css,md}": [
      "yarn check-formatting"
    ]
  }

[BLOG-1] add github workflow to deploy
  .github/workflows/deploy.yml
Due: none

[BLOG-1] split github actions on smaller jobs
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-dispatch.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/reusable-jobs.yml
Due: none

[BLOG-1] change label for dispatch job
  .github/workflows/deploy-dispatch.yml
Due: none

[BLOG-1] fix found issues
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-dispatch.yml
  .github/workflows/deploy-frontend.yml
Due: none

[BLOG-1] Improvements - add pre-commit hook to check quality/formatting - update readme files
  .husky/pre-commit
  README.md
  package.json
  services/backend/README.md
  services/backend/package.json
  services/frontend/README.md
Due: yarn check-formatting

[BLOG-1] Improvements - fix check quality run command - update eslint config
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package.json
  services/backend/src/app.js
  services/backend/src/config/index.js
  services/backend/src/config/loadEnv.js
  services/backend/src/middlewares/verifyToken.js
  services/backend/src/providers/storage.js
  services/backend/src/routes/images.js
  services/frontend/package.json
  services/frontend/src/App.jsx
  services/frontend/src/index.js
  services/frontend/src/index.jsx
  services/frontend/src/pages/Gallery.jsx
  services/frontend/src/pages/Login.jsx
  yarn.lock
Due: yarn check-quality, yarn check-formatting

[BLOG-1] Improvements - fix reusable job workflow
  .github/workflows/reusable-jobs.yml
Due: none

[BLOG-1] Improvements - fix reusable job workflow
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-dispatch.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/reusable-jobs.yml
Due: none

[BLOG-1] Improvements - fix reusable job workflow
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-dispatch.yml
  .github/workflows/deploy-frontend.yml
Due: none

[BLOG-1] Improvements - add setup:custom to demonstrate injection of custom nodejs setup script using docker
  docker-compose.local.yml
  package.json
  scripts/setup-custom-env.script.js
Due: yarn check-quality, yarn check-formatting
